/* Utilizando el selector universal (apunt a a todos)
 para realizar el set de CSS*/
 * {
    /* se eliminan todos los margin por defecto */
    margin: 0;
    /* se eliminan todos los padding por defecto */
    padding: 0; 
    /* se elimina el estilo de las listas */
    list-style-type: none;
    /* el padding y border se consideran para calcular
     el tamaño de la caja */
    box-sizing: border-box;
    /* se elimina el subrayado de los links <a> */
    text-decoration: none
}

body {
    background-color: bisque;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.children {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: red;
  }